<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food4All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79E5A2DC1E3A800200DE2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E5A2F01E3A800200DE2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E5A2FB1E3A800200DE2978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
